.Term-container {
  margin-top: 1em;
  margin-left: 1em;
  font-size: calc(12px + 1vmin);
  color: #33ff00;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: text;
}

.Term-content {
  display: flex;
  flex-direction: column;
}

.Prompt-area {
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.Prompt-text {
  text-transform: uppercase;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent;
  border: 0px;
  outline: none;
  width: 95%;
}

.Prompt {
  text-align: left;
  margin-right: 5px;
}