.Term-container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(12px + 1vmin);
  color: #33ff00;
  text-align: left;
}

.Term-content {
  max-width: 90vh;
}

.Prompt-text {
  text-transform: uppercase;
  margin-left: 5px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent;
  border: 0px;
  outline: none;
}

.Prompt {
  text-align: left;
  margin-right: 5px;
}